<form method="post" action="/entries">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

	<label for="author">Author: </label>
	<input type="text" name="entry[author]" placeholder="Enter author of this photo">

	<label for="photo_url">Photo URL: </label>
	<input type="text" name="entry[photo_url]" placeholder="Enter URL for this photo">

	<button type="submit">Add Photo</button>
</form>